.main {
  height: 75vh;
  background-color: rgb(57, 81, 155);
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-main {
  color: white;
  font-size: 35px;
  margin-bottom: 35px;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  cursor: pointer;
}

.service:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.service-img {
  width: 170px;
  height: auto;
}

.title-service {
  color: rgb(57, 81, 155);
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}




@media (min-width: 1000px) and (max-width: 1370px) {

  .main {
    height: 60vh;
    background-color: rgb(57, 81, 155);
    padding: 27%;
  }

  .services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-main {
    color: white;
    font-size: 35px;
    margin-bottom: 35px;
  }

  .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    flex-shrink: 1;
  }

  .service:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .service-img {
    width: 170px;
    height: auto;
  }

  .title-service {
    color: rgb(57, 81, 155);
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }

}



@media (min-width: 850px) and (max-width: 1000px) {

  .main {
    height: 85vh;
    background-color: rgb(57, 81, 155);
    padding: 10%;
  }

  .services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-main {
    color: white;
    font-size: 35px;
    margin-bottom: 35px;
  }

  .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .service {
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    flex-shrink: 1;
  }

  .service:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .service-img {
    width: 170px;
    height: auto;
  }

  .title-service {
    color: rgb(57, 81, 155);
    font-size: 18px;
    text-align: center;
    font-weight: 600;
  }

}

@media (min-width: 500px) and (max-width: 850px) {

  .main {
    height: 100%;
    background-color: rgb(57, 81, 155);
    padding: 20% 10%;
  }

  .services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-main {
    color: white;
    font-size: 35px;
    margin-bottom: 35px;
  }

  .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: auto;
  }

  .service {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    flex-shrink: 1;
  }

  .service:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .service-img {
    width: 170px;
    height: auto;
  }

  .title-service {
    color: rgb(57, 81, 155);
    font-size: 18px;
    text-align: center;
    font-weight: 600;
  }

}


@media (min-width: 300px) and (max-width: 500px) {

  .main {
    height: 100%;
    background-color: rgb(57, 81, 155);
    padding: 30% 10%;
  }

  .services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-main {
    color: white;
    font-size: 35px;
    margin-bottom: 35px;
  }

  .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: auto;
  }

  .service {
    display: flex;
    width: 100px;
    height: 180px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    flex-shrink: 1;
  }

  .service:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .service-img {
    width: 110px;
    height: auto;
  }

  .title-service {
    color: rgb(57, 81, 155);
    font-size: 13px;
    text-align: center;
    font-weight: 600;
  }

}